<!-- About Section -->
<section class="" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star">
            </div>
        </div>
        <div class="row">
            <div class="col max-width-700 margin-auto justify">
                <p>I'm a Ph.D. candidate studying NLP at UCSD. My advisor is <a href="https://shangjingbo1226.github.io/">Jingbo Shang</a>.
                    My research interests lie in extracting information from text using minimal supervision. Recently,
                    I've worked on constructing an NLP pipeline to automatically extract linking relationships between
                    bacteria and diseases from biomedical texts. I'm passionate about using my skills to improve
                    people's lives everywhere.
                    <br><br>
                    When I'm not writing papers, you can find me 🏄, riding my 🚲, getting into a 📘, or trying something new like
                    making soap or gin from scratch. </p>
            </div>
        </div>
    </div>
</section>