<ul class="list-inline">
    <li>
        <a href="mailto:whogan@ucsd.edu" class="btn-social btn-outline" title="Email"><i class="fa fa-fw fa-envelope-o"></i></a>
    </li>
    <li>
        <a href="/cv/whogan_cv.pdf" class="btn-social btn-outline" title="Curriculum Vitae"><i class="ai ai-cv"></i></a>
    </li>
    <li>
        <a href="https://github.com/wphogan?tab=repositories" class="btn-social btn-outline" title="GitHub Repositories"><i class="fa fa-fw fa-github-alt"></i></a>
    </li>
    <li>
        <a href="https://scholar.google.com/citations?user=wEzTKU4AAAAJ&hl=en" class="btn-social btn-outline" title="Google Scholar"><i class="ai ai-google-scholar"></i></a>
    </li>
    <li>
        <a href="https://www.semanticscholar.org/author/2057941889" class="btn-social btn-outline" title="Semantic Scholar"><i class="ai ai-semantic-scholar"></i></a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/wphogan/" class="btn-social btn-outline" title="LinkedIn"><i class="fa fa-fw fa-linkedin"></i></a>
    </li>
        <li>
        <a href="https://shangjingbo1226.github.io/lab/" class="btn-social btn-outline" title="Lab"><i class="fa fa-fw fa-flask"></i></a>
    </li>
</ul>