<!-- Section -->
<section id="education" class="publications section-dark">
    <div class="container portfolio-flex-grid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Education</h2>
                <hr class="star">
            </div>
        </div>
        <div class="row">

            <div class="col-lg-4 tight-text-box">
                <img src="/img/uc_logo.svg" alt="University of California Seal">
                <h5>2008</h5>
                <h4>Bachelor of Science in Electrical Engineering</h4>
                <p>University of California, Santa Cruz</p>

            </div>

            <div class="col-lg-4 tight-text-box">
                <img src="/img/uc_logo.svg" alt="University of California Seal">
                <h5>2021</h5>
                <h4>Master of Science in Computer Science</h4>
                <p>University of California, San Diego</p>
                <p>Specialization in machine learning and NLP</p>
            </div>

            <div class="col-lg-4 tight-text-box">
                <img src="/img/uc_logo.svg" alt="University of California Seal">
                <h5>Dec. 2024 (expected)</h5>
                <h4>Doctor of Philosophy in Computer Science</h4>
                <p>University of California, San Diego</p>
                <p>Specialization in NLP and weakly supervised methods</p>
            </div>

        </div>
    </div>
</section>






