<!-- Section -->
<section id="experience" class="publications">
    <div class="container portfolio-flex-grid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Experience</h2>
                <hr class="star">
            </div>
        </div>
        <div class="row center-bullets">
            <div class="col-lg-4">
                <h5 class="date">2011&mdash;2015</h5>
                <h4>Digital Media Specialist</h4>
                <p>DataCenter, Oakland, CA</p>
                <ul>
                    <li>Collaboratively designed and developed infographics of research findings</li>
                    <li>Developed an interactive and educational online game about how to conduct a community-lead
                        research
                        project
                    </li>
                </ul>
            </div>

            <div class="col-lg-4">
                <h5 class="date">2015&mdash;2019</h5>
                <h4>Co-owner, Full-stack Developer</h4>
                <p>Design Action Collective, Oakland, CA</p>
                <ul>
                    <li>Lead developer on over 30 websites and apps while also co-managing a web development company
                    </li>
                    <li>Improved department-wide workflow to create cleaner, more efficient code</li>
                    <li>Improved internal standards for code commenting, git usage, pair programming, and website
                        accessibility
                    </li>
                </ul>
            </div>

            <div class="col-lg-4">
                <h5 class="date">September 2019&mdash;Present</h5>
                <h4>Graduate Student Researcher</h4>
                <p>Center for Microbiome Innovation,<br>UC San Diego</p>
                <ul>
                    <li>Researcher within the UCSD-IBM Artificial Intelligence for Healthy Living program using deep
                        learning
                        to extract microbiome knowledge from scientific literature
                    </li>
                    <li>Apply natural language processing and machine learning models on large amounts of raw medical
                        texts
                    </li>
                    <li>Developed high-performing models for relationship extraction, acronym resolution, and bacteria
                        normalization
                    </li>
                    <li>Co-created and maintained web-based annotator tool to test NLP models</li>
                </ul>
            </div>


        </div>
    </div>
</section>




