<!-- Section -->
<section id="experience" class="publications">
    <div class="container portfolio-flex-grid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Experience</h2>
                <hr class="star">
            </div>
        </div>
        <div class="row center-bullets">

            <div class="col-lg-6 mb-3">
                <h5 class="date">January 2024&mdash;Present</h5>
                <h4>Graduate Student Researcher</h4>
                <p>Joan &amp; Irwin Jacobs Center for Health Innovation, UC San Diego</p>
                <ul>
                    <li>Lead researcher on patient safety and infection prevention project</li>
                    <li>Develop LLMs and automated methods to process EHR text to uncover insights on patient safety issues that were previously unknown or difficult to understand</li>
                </ul>
            </div>

            <div class="col-lg-6 mb-3">
                <h5 class="date">Summer 2023</h5>
                <h4>Research Data Scientist Graduate Intern</h4>
                <p>Dell Technologies, Round Rock, TX</p>
                <ul>
                    <li>Built a state-of-the-art text-to-SQL language model to access data within a database</li>
                    <li>Worked on interdisciplinary team to prototype methods aimed at making dense data more accessible</li>
                </ul>
            </div>

            <div class="col-lg-6 mb-3" style="clear: left;">
                <h5 class="date">Summer 2022</h5>
                <h4>Research Data Scientist Graduate Intern</h4>
                <p>Dell Technologies, Round Rock, TX</p>
                <ul>
                    <li>Applied state-of-the-art NLP and computer vision methods to identify fraudulent purchase orders</li>
                    <li>Designed novel algorithm that prevented $2.1M in company losses</li>
                </ul>
            </div>

            <div class="col-lg-6 mb-3">
                <h5 class="date">2019&mdash;2022</h5>
                <h4>Graduate Student Researcher</h4>
                <p>Center for Microbiome Innovation, UC San Diego</p>
                <ul>
                    <li>Researcher within the UCSD-IBM Artificial Intelligence for Healthy Living program using deep
                        learning to extract microbiome knowledge from biomedical literature</li>
                        <!--<li>Apply NLP and machine learning models on large amounts of raw medical texts</li>-->
                    <li>Co-created and maintained web-based annotator tool to test NLP models</li>
                    <li>Developed novel models for relation extraction, acronym resolution, and bacteria normalization</li>
                </ul>
            </div>

            <div class="col-lg-6 mb-3">
                <h5 class="date">2015&mdash;2019</h5>
                <h4>Co-owner, Full-stack Developer</h4>
                <p>Design Action Collective, Oakland, CA</p>
                <ul>
                    <li>Lead developer on over 30 websites and apps while also co-managing a web development company
                    </li>
                    <li>Improved department-wide workflow to create cleaner, more efficient code</li>
                    <li>Improved internal standards for code commenting, git usage, pair programming, and website
                        accessibility
                    </li>
                </ul>
            </div>

            <div class="col-lg-6 mb-3">
                <h5 class="date">2011&mdash;2015</h5>
                <h4>Digital Media Specialist</h4>
                <p>DataCenter, Oakland, CA</p>
                <ul>
                    <li>Collaboratively designed and developed infographics of research findings</li>
                    <li>Developed an interactive and educational online game about how to conduct a community-lead
                        research
                        project
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>




