<!-- Section -->
<section id="projects" class="publications">
    <div class="container portfolio-flex-grid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Projects</h2>
                <hr class="star">
            </div>
        </div>
        <div class="portfolio-flex-row ">
            <div class="flex-center-row max-width-500">
                <h5 class="date">March, 2021</h5>
                <h4>Classification of Wine Varieties in a High Dimensional Setting</h4>
                <p>Designed a model to predict wine varieties based on a combination of textual features. We experiment
                    with various combinations of features and three loss functions: negative log-likelihood,
                    KL-divergence, and a custom LASSO loss function.</p>
                <a href="https://github.com/wphogan/reports/blob/main/wine_classification_in_high_dim_setting.pdf"
                   data-toggle="tooltip" data-placement="bottom" title="View PDF" class="icon-link"><span
                        class="material-symbols-outlined">picture_as_pdf</span></a>
                <a href="https://github.com/wphogan/wine_classification" data-toggle="tooltip" data-placement="bottom"
                   title="View code" class="icon-link"><span class="material-symbols-outlined">terminal</span></a>
            </div>

            <div class="flex-center-row max-width-500">
                <h5 class="date">December, 2020</h5>
                <h4>Generating Position-specific Scoring Matrices for Protein Secondary Structure Prediction</h4>
                <p>Designed and built a transformer to generate position-specific scoring matrices for protein
                    sequences.</p>
                <a href="https://github.com/wphogan/reports/blob/main/generating_pssm_for_protein_secondary_structure_prediction.pdf"
                   data-toggle="tooltip" data-placement="bottom" title="View PDF" class="icon-link"><span
                        class="material-symbols-outlined">picture_as_pdf</span></a>
                <a href="https://github.com/wphogan/transformer_pssm_generator" data-toggle="tooltip"
                   data-placement="bottom" title="View code" class="icon-link"><span class="material-symbols-outlined">terminal</span></a>
            </div>

            <div class="flex-center-row max-width-500">

                <h5 class="date">December, 2020</h5>
                <h4>Expanding News Timeline Summarization</h4>
                <p>Improved on existing state-of-the-art date-wise and clustering news timeline summarization (TLS)
                    approaches, introduced more representative evaluation metrics, and expanded the available datasets
                    to train news TLS models.</p>
                <a href="https://github.com/wphogan/reports/blob/main/expanding_news_timeline_summarization.pdf"
                   data-toggle="tooltip" data-placement="bottom" title="View PDF" class="icon-link"><span
                        class="material-symbols-outlined">picture_as_pdf</span></a>
                <a href="https://github.com/RossDeVito/news-tsl-cse291" data-toggle="tooltip" data-placement="bottom"
                   title="View code" class="icon-link"><span class="material-symbols-outlined">terminal</span></a>
            </div>

            <div class="flex-center-row max-width-500">
                <h5 class="date">June, 2020</h5>
                <h4>8-state Protein Secondary Structure Prediction</h4>
                <p>Built a convolutional, residual, and recurrent neural network (CRRNN) that uses protein sequences and
                    corresponding position-specific scoring matrices to predict protein secondary structures. </p>
                <a href="https://github.com/wphogan/reports/blob/main/8_state_protein_secondary_structure_prediction.pdf"
                   data-toggle="tooltip" data-placement="bottom" title="View PDF" class="icon-link"><span
                        class="material-symbols-outlined">picture_as_pdf</span></a>
                <a href="https://github.com/wphogan/q8-protein-structure-prediction" data-toggle="tooltip"
                   data-placement="bottom" title="View code" class="icon-link"><span class="material-symbols-outlined">terminal</span></a>

            </div>

            <div class="flex-center-row max-width-500">
                <h5 class="date">March, 2020</h5>
                <h4>Deep Photo Style Transfer</h4>
                <p>Reproduced results from recent works in image style transfer using convolutional neural networks.</p>
                <a href="https://github.com/wphogan/reports/blob/main/deep_photo_style_transfer.pdf"
                   data-toggle="tooltip" data-placement="bottom" title="View PDF" class="icon-link"><span
                        class="material-symbols-outlined">picture_as_pdf</span></a>
                <a href="https://github.com/UCSD-Deep-Photo/deep-photo-style-transfer" data-toggle="tooltip"
                   data-placement="bottom" title="View code" class="icon-link"><span class="material-symbols-outlined">terminal</span></a>

            </div>


        </div><!--end flex-row-->
    </div><!--    end container-->
</section>








