<!-- Section -->
<section id="volunteer" class="publications section-dark">
    <div class="container portfolio-flex-grid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Teaching, Service, and Volunteering</h2>
                <hr class="star">
            </div>
        </div>
        <div class="portfolio-flex-row ">
            <div class="flex-center-row max-width-500 margin-auto">
                <h4>Teaching Assistant, Winter 2024</h4>
                <p style="font-size: 17px">Teaching Assistant for <i>Introduction to Data Mining</i> at UCSD</p>
            </div>

            <div class="flex-center-row max-width-500 margin-auto">
                <h4>Teaching Assistant, Spring 2023</h4>
                <p style="font-size: 17px">Lead Teaching Assistant for the graduate level course <i>Advanced Data-driven Text Mining</i> at UCSD</p>
            </div>


            <div class="flex-center-row max-width-500 margin-auto">
                <h4>Program Committee Member, EMNLP 2022</h4>
                <p style="font-size: 17px">Program committee member for the <i>Unsupervised and Weakly-Supervised Methods in NLP</i>
                    workshop</p>
            </div>

            <div class="flex-center-row max-width-500 margin-auto">
                <h4>
                    Program Committee Member, BioNLP 2022&ndash;Present
                </h4>
                <p style="font-size: 17px">Program committee member for the BioNLP workshop, co-located at ACL</p>
            </div>

            <div class="flex-center-row max-width-500 margin-auto">
                <h4>GradPal Mentor, UCSD 2021&ndash;Present</h4>
                <p style="font-size: 17px">Mentor for incoming Computer Science and Engineering students</p>
            </div>

            <div class="flex-center-row max-width-500 margin-auto">
                <h4>Developer Mentor, Design Action Collective 2016&ndash;2019</h4>
                <p style="font-size: 17px">Mentored junior web developers. Conducted code reviews and developed curricula to address gaps in understanding.</p>
            </div>


        </div><!--end flex-row-->
    </div><!--    end container-->
</section>